@font-face {
    font-family: 'Steel';
    src: url('font/Steel.ttf') format('truetype');
}
@font-face {
    font-family: 'Tesla';
    src: url('font/Tesla.ttf') format('truetype');
}
@font-face {
    font-family: 'tech';
    src: url('font/tech.otf') format('opentype');
}
body {
    font-family: 'Steel', sans-serif;
    margin: 0;
    padding: 0;
    
    color: rgba(255, 255, 255, 0.7); /* Semi-transparent white */
    background: linear-gradient(45deg, rgb(20, 20, 20), rgb(36, 36, 36));
    position: relative; 
    overflow: hidden;
}
.gradient-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top left, rgba(5, 38, 185, 0.096), rgba(15, 15, 15, 0));
    
}
.content {
    font-family: 'tech', sans-serif;
    font-size: 24px;
    text-align: center;
    color: rgba(14, 105, 180, 0.705);
    max-width: calc(100% - 150px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px;    
    border: 1px solid #000;     
    box-sizing: border-box;
    margin: 40px 30px;
    height: calc(100vh - 80px - 50px - 80px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    
}

.content-large {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 36px; 
    text-align: center;
    }

.content-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    align-self: flex-start; /* Add this line */
}
.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #000; 
    border-bottom-color: rgba(59, 59, 59, 0.8);
    box-sizing: border-box;
    width: calc(100% - 25px);
    
    margin: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.top-bar::before {
    content: "";
    position: absolute;
    top: -10px; 
    left: -10px;
    right: -10px;
    bottom: -10px;
    background: linear-gradient(135deg, rgb(20, 20, 20), rgb(36, 36, 36)); 
    z-index: -1;
    filter: blur(10px);
}
.wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.profile {
    display: flex;
    align-items: center;
}
.profile img {
    width: 70px;
    height: 70px;
    border-radius: 70%;
    margin-right: 15px;
}
.navigation {
    display: flex;
    gap: 22px;
    margin-right: 20px;
    
}
.navigation a {
    text-decoration: none;
    color: #000000;
}
.navigation img {
    width: 40px; /* Adjust as needed */
    height: 40px; /* Adjust as needed */
}
.navigation svg {
    width: 40px; /* Adjust as needed */
    height: 40px; /* Adjust as needed */
}
.title {
    position: absolute;
    text-decoration: none;
    color: transparent;
    color: rgb(40, 122, 216);
    background: linear-gradient(to bottom right, black, rgb(40, 122, 216));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.title .steel {
    font-family: 'Steel', sans-serif;
    font-size: 26px;
}
.title .tesla {
    font-family: 'Tesla', sans-serif;
    font-size: 28px;
    font-weight: bold;
}
.lottie {
    width: 70px;
    height: 70px;
    color: #c4c4c4;
}
.info {
    width: 50px;
    height: 50px;
    color: #c4c4c4;
}
body.white-background {
    background-color: #ffffff;
}


.fade-in-text {
    opacity: 0;
    animation: fadeInOut 3s forwards;
    text-align: center;
    font-size: 2em; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.hidden {
    display: none;
}
#sliding-image {
    position: absolute;
    top: 10%; 
    left: -100%; 
    transform: translateX(-50%); 
    animation: slideIn 2s forwards;
    width: 25%; 
    height: 50%; 
}

#sliding-text {
    position: absolute;
    bottom: 30%; 
    left: -100%; 
    transform: translateX(-50%); 
    animation: slideIn 2s forwards;
    font-size: 1.5em; 
}
#sliding-text2 {
    position: absolute;
    bottom: 20%; 
    left: -100%; 
    transform: translateX(-50%); 
    animation: slideIn 2s forwards;
    font-size: 1.5em; 
}

@keyframes slideIn {
    to {
        left: 50%; 
    }
}
#sliding-container {
    position: absolute;
    top: 10%; 
    left: -100%;
    transform: translateX(-50%); 
    animation: slideIn 2s forwards;
    width:75%; 
    height: 70%;
    
}